name: Verify

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Gradle
        uses: ./.github/actions/setup-gradle
      - name: Build
        run: ./gradlew build
